button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin: 20px;
}

button:active {
  border-color: #4a4a4a;
  outline: 0;
}

button:focus {
  border-color: #485fc7;
  outline: 0;
}

button:hover {
  border-color: #b5b5b5;
}

button:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

#todoView {
  border: 1px solid #888;
  text-align: center;
}

#addProjectButton {
  float: right;
}

#content {
  display: flex;
}

#header {
  text-align: center;
  height: 50px;
}

#sidepanel {
  width: 25%;
}

#todoContainer {
  width: 75%;
}

.projectHeader {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.todoTile {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 30px 20px 20px 20px 40px 20px;
  border: 1px solid #888;
  margin: 25px 50px;
}

.todoTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: left;
}

.todoDesc {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
}

.todoProject {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: left;
}

.todoPriority {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
}

.todoDueDate {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
}

.todoCreatedDate {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: end;
  text-align: right;
}

.deleteTodoButton {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end:end
  height: 25px;
  width: 100px;
  text-align: center;
  margin: auto;
}